@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>

<body>
    <div class="overlay"></div>
    <div class="login-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="228" height="117" viewBox="0 0 368 117" fill="none">
            <g clip-path="url(#clip0)">
                <path
                    d="M44.478 55.4251L3.58122 76.6495C-0.865102 78.9567 -0.822665 85.3326 3.6531 87.58L44.8002 108.246C52.4951 112.11 61.5627 112.11 69.2576 108.246L110.404 87.58C114.88 85.3317 114.923 78.9567 110.477 76.6495L69.5789 55.4251C61.7108 51.3417 52.347 51.3417 44.478 55.4251V55.4251Z"
                    fill="#2563EB" />
                <path
                    d="M44.478 31.9127L3.58122 53.1379C-0.865102 55.4451 -0.822665 61.8201 3.6531 64.0684L44.8002 84.7342C52.4951 88.5985 61.5627 88.5985 69.2576 84.7342L110.404 64.0684C114.88 61.8201 114.923 55.4451 110.477 53.1379L69.5789 31.9135C61.7108 27.8301 52.347 27.8301 44.478 31.9127V31.9127Z"
                    fill="#407BFC" />
                <path
                    d="M69.2577 84.7341L98.1216 70.2373L69.5791 55.4251C61.7109 51.3417 52.3472 51.3417 44.4791 55.4251L15.9365 70.2373L44.8004 84.7341C52.4953 88.5985 61.5629 88.5985 69.2577 84.7341V84.7341Z"
                    fill="#407BFC" />
                <path
                    d="M44.478 8.40096L3.58122 29.6254C-0.865102 31.9334 -0.822665 38.3084 3.6531 40.5567L44.8002 61.2225C52.4951 65.0868 61.5627 65.0868 69.2576 61.2225L110.404 40.5567C114.88 38.3084 114.923 31.9334 110.477 29.6254L69.5789 8.40096C61.7108 4.31752 52.347 4.31752 44.478 8.40096V8.40096Z"
                    fill="#80A7FF" />
                <path
                    d="M69.2577 61.2226L98.1216 46.7257L69.5791 31.9127C61.7109 27.8292 52.3472 27.8292 44.4791 31.9127L15.9365 46.7257L44.8004 61.2226C52.4953 65.0869 61.5629 65.0869 69.2577 61.2226Z"
                    fill="#80A7FF" />
                <path
                    d="M69.2578 61.2225L75.0984 58.2892L69.5791 55.4251C61.711 51.3417 52.3472 51.3417 44.4782 55.4251L38.9597 58.2892L44.8004 61.2225C52.4944 65.0868 61.5629 65.0868 69.2578 61.2225Z"
                    fill="#80A7FF" />
            </g>
            <text x="120" y="85" fill="#353535" font-family="Arial, sans-serif" font-size="74"
                font-weight="bold">Shinra</text>
            <defs>
                <clipPath id="clip0">
                    <rect width="113.516" height="113.515" fill="white" transform="translate(0.27124 1.56958)" />
                </clipPath>
            </defs>
        </svg>


        <form action="@Url.Content("~/Login/Index")" method="post">
            <div class="form-group">
                <label for="emailaddress">Correo</label>
                <input class="form-control" type="email" name="correo" required="" autocomplete="off"
                    value="admin@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input class="form-control" type="password" required="" name="clave" autocomplete="off"
                    value="admin@gmail.com">
            </div>
            <p>¿Has olvidado tu Contraseña? <a href="#">Recuperar Contraseña</a></p>
            <button class="btn" type="submit">Iniciar Sesión</button>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>
